<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <title>PrevIRA</title>
</head>

<body>
    <div class="container">
        <div class="info-section">
            <h1>
                Prev
                <span>
                    IRA
                </span>
            </h1>
            <h2>Ferramenta de Inferência de<br>Injúria Renal Aguda com Machine Learning</h2>
            <div class="subsection">
                <h3>O que é Injúria Renal Aguda?</h3>
                <p>A Injúria Renal Aguda (IRA) é uma condição clínica caracterizada pela perda súbita e abrupta da função renal, geralmente em horas ou dias.</p>
                <p>Principais Consequências da IRA:</p>
                <ul>
                    <li>Acúmulo de toxinas no sangue</li>
                    <li>Desequilíbrio de líquidos e eletrólitos</li>
                    <li>Inchaço</li>
                    <li>Hipertensão</li>
                    <li>Convulsões</li>
                    <li>Falência renal</li>
                    <li>Morte</li>
                </ul>
            </div>
            <div class="subsection">
                <h3>O que é PrevIRA ?</h3>
                <p>PrevIRA é uma ferramenta desenvolvida para unir medicina e aprendizado de maquina. A ferramenta faz uso de modelos de aprendizado de maquina supervisionados como "ExtraTreesRegressor" e "XGBoost", com dados curados da base do HU-UFPI, para oferecer auxilio no diagnóstico precoce da IRA.</p>
                <p>Benefícios da Ferramenta:</p>
                <ul>
                    <li>Identificação de pacientes em risco</li>
                    <li>Agilidade para diagnóstico</li>
                    <li>Melhoria do prognóstico</li>
                </ul>
            </div>
            <div class="subsection">
                <h3>Modelo A: Regressão + Heurística</h3>
                <div class="line">
                    <div class="card">
                        <div class="bg">
                            <p>R2</p>
                            <h2>0.98</h2>
                        </div>
                        <div class="blob"></div>
                    </div>
                    <div class="card">
                        <div class="bg">
                            <p>Especifidade</p>
                            <h2>0.92</h2>
                        </div>
                        <div class="blob"></div>
                    </div>
                    <div class="card">
                        <div class="bg">
                            <p>Acurácia</p>
                            <h2>0.98</h2>
                        </div>
                        <div class="blob"></div>
                    </div>
                </div>    
            </div>
            <div class="subsection">
                <h3>Modelo B: Classificação</h3>
                <div class="line">
                    <div class="card">
                        <div class="bg">
                            <p>Sensibilidade</p>
                            <h2>0.97</h2>
                        </div>
                        <div class="blob"></div>
                    </div>
                    <div class="card">
                        <div class="bg">
                            <p>Especifidade</p>
                            <h2>0.87</h2>
                        </div>
                        <div class="blob"></div>
                    </div>
                    <div class="card">
                        <div class="bg">
                            <p>Acurácia</p>
                            <h2>0.97</h2>
                        </div>
                        <div class="blob"></div>
                    </div>
                </div> 
            </div>
            <p class="disclaimer">
                A ferramenta PrevIRA visa auxiliar profissionais de saúde. Os resultados possuem um grau de erro e devem ser avaliados com cuidado.
            </p>
            <div class="footer">
                <p>Desenvolvido por:</p>
                <ul>
                    <li><p>Antonia Márcia <a href="">Lattes</a></p></li>
                    <li><p>Ginivaldo Victor <a href="">Lattes</a></p></li>
                    <li><p>Francisco Luciani <a href="">Lattes</a>, <a href="">LinkedIn</a></p></li>
                    <li><p>Gabriel Coelho <a href="">Lattes</a>, <a href="">GitHub</a>, <a href="">LinkedIn</a>, <a href="">Medium</a>, <a href="">Substack</a>, <a href="">Instagram</a></p></li>
                </ul>
                <p>Projeto disponível no <a href="https://github.com/gabrielfmcoelho/IRA-HU-UFPI">GitHub</a></p>
            </div>
        </div>

        <div class="form-section">
            <div class="logos">
                <a href="https://www.gov.br/ebserh/pt-br/hospitais-universitarios/regiao-nordeste/hu-ufpi">
                    <img src="{{ url_for('static', filename='images/hu.png') }}" alt="Logo HU-UFPI">
                </a>
                <a href="https://www.gov.br/ebserh/pt-br">
                    <img src="{{ url_for('static', filename='images/ebserh.png') }}" alt="Logo EBSERH">
                </a>
            </div>
            <form action="#" method="post" id="ari-form">
                <h2>Informações do(a) Paciente</h2>
                <p>Para utilizar o processo de inferência, preencha todos os campos abaixo:</p>
                <br>

                {% for feature, feature_data in data.features_dict.items() %}
                <div class="form-group">
                    <label for="{{ feature }}">{{ feature_data.label }}:</label>
                    <input type="{{ feature_data.type }}" id="{{ feature }}" name="{{ feature }}" step="any" lang="pt-br" required>
                </div>
                {% endfor %}

                <br><label>Modelo:</label><br>
                <div class="form-group">
                    {% for option, option_value in data.radio_buttons.items() %}
                    <div class="radio-option">
                        <label for="{{ option }}">{{ option }}</label><br>
                        <input type="radio" id="{{ option }}" name="model" value="{{ option_value }}">
                    </div>
                    {% endfor %}
                </div>
                        
                <button type="submit">Inferir IRA</button>
            </form>
        </div>
    </div>

    {% if show_result and ira: %}
    <div class="result-card"> 
        <div class="header"> 
            <div class="image">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#000000" d="M20 7L9.00004 18L3.99994 13"></path> </g></svg>
            </div> 
            <div class="content">
                <span class="title">Sem indicativo de IRA</span> 
                <p class="message">Foi inferido o valor de 0.8 mg/dL de Creatinina para as proximas 48 horas. O valor inferido não ultrapassa o limiar de variação de 30% da Creatinina atual, dessa forma não há indicativo de IRA.</p>
            </div> 
            <div class="actions">
                <button type="button" class="history">Entendo</button> 
            </div>  
        </div>
    </div>
    {% endif %}
</body>
</html>
